# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz
pnpm-lock.yaml

# Testing
coverage/
.nyc_output

# Next.js
.next/
out/
build/
dist/

# Production
*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
__MACOSX

# Typescript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Misc
*.log
.cache
.temp
.tmp

# Backup files
*.backup*
*.bak
public/backup/

# Trash folder
.trash/

# Archives
*.zip
*.tgz
*.tar.gz
*.rar

# Scripts data
scripts/videos-extracted/
scripts/videos-sources/
scripts/images-source/

# Vercel
.vercel

# Turbo
.turbo

# Netlify
.netlify
